<div class="container">
    <div class="row justify-content-center">
        <div class="col-9">
            <%= render 'shared/errors' %>
        <%= form_with(model: @article, class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>
            <div class="form-group row">
            <%= f.label :title, class: "col-2 col-form-label text-light" %>
            <div class="col-10">
            <%= f.text_field :title, class: "form-control shadow rounded", placeholder: "Title of article" %>
            </div>
            </div>
            <div class="form-group row mt-3">
            <%= f.label :description, class: "col-2 col-form-label text-light" %>
            <div class="col-10"> 
            <%= f.text_area :description, rows: 10, class: "form-control shadow rounded", placeholder: "Description of article" %>
            </div>
            </div>


            <div class="d-grid gap-2 col-6 mx-auto form-group row justify-content-center mt-3">
            <%= f.submit class: "btn btn-outline-light btn-lg" %>
            </div>
        <% end %>
        </div>
    <%= link_to '[ Cancel and return to articles listing ]', articles_path, class: "text-info text-center" %>
    </div>
</div>





















<!-- <% if @article.errors.any? %>
    <h4>The following errors prevented article from saving.</h4>
    <ul>
        <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>


<%= form_with(model: @article, local: true) do |f| %>

    <p>
        <%= f.label :title %> <br>
        <%= f.text_field :title %>
    </p>

    <p>
        <%= f.label :description %> <br>
        <%= f.text_area :description %>
    </p>

    <p>
        <%= f.submit %>
    </p>

<% end %> -->
